<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin home</h1>
<a href="/myapp/appreview/">App review</a><br>
<a href="/myapp/changepassword/">Change password</a><br>
{#<a href="/myapp/sendreply/">send reply</a><br>#}
<a href="/myapp/vendorreview/">vendor review</a><br>
<a href="/myapp/viewapprovedvendors/">view approved vendors</a><br>
<a href="/myapp/viewcomplaints/">view complaints</a><br>
<a href="/myapp/viewrejectedvendors/">view rejected vendors</a><br>
<a href="/myapp/viewusers/">view users</a><br>
<a href="/myapp/viewvendor/">view vendor</a><br>
<a href="/myapp/addweddingblogs/">add wedding blogs</a><br>
<a href="/myapp/viewweddingblogs/">view wedding blogs</a><br>





</body>
</html>