{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{#{% extends 'admin/admin index.html' %}#}
{#{% block body %}#}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/myapp/sendreply_post/">#}
{# {% csrf_token %}#}
{#  <table class="table table-bordered">#}
{#      <input type="hidden" value="{{ id }}"name="id" class="form-control">#}
{##}
{#    <tr>#}
{#      <td>REPLY</td>#}
{#      <td><input type="text" name="textfield" id="textfield"  class="form-control"/></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td ALIGN="CENTER" colspan="2"><input type="submit" name="button" id="button" value="SEND" /></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#{% endblock %}#}
{#</html>#}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<script>
function validateForm() {
    var reply = document.getElementById("textfield").value;
    if (reply.trim() == "") {
        alert("Reply field cannot be empty.");
        return false;
    }
    return true;
}
</script>
</head>
{% extends 'admin/admin index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/myapp/sendreply_post/" onsubmit="return validateForm()">
 {% csrf_token %}
  <table class="table table-bordered">
      <input type="hidden" value="{{ id }}" name="id" class="form-control">
    <tr>
      <td>REPLY</td>
      <td><input type="text" name="textfield" id="textfield" class="form-control"/></td>
    </tr>
    <tr>
      <td ALIGN="CENTER" colspan="2"><input type="submit" name="button" id="button" value="SEND" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
